@tailwind components;

@layer components {
  .section-light {
    @apply bg-white;
  }

  .section-gray {
    @apply bg-[#e9f0f7];
  }

  .section-dark {
    @apply bg-navy text-white;
  }

  .section-gradient {
    @apply bg-gradient-to-br from-navy via-navy-dark to-navy;
  }
}


